agp-application/src/test/resources/soap/hello_world.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://example.com/hello"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">


    <xsd:element name="SayHelloRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="SayHelloResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="greeting" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


</xsd:schema>